##  Polynomial Regression Model
- Model Building and Evaluation

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
from sklearn.preprocessing import PolynomialFeatures

In [157]:
#Step 1-Load the data
df=pd.read_csv('data.csv')

features = df.iloc[:, 1:-1]
targets = df.iloc[:, -1]
#x=df.drop(columns='Serial No.')

display(df)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

#### 1.Min Max Scaling

In [159]:
#Step 2:Scale the features(x)
scaled_features= (features-features.min())/(features.max()-features.min())
display(scaled_features)
scaled_x=df.iloc[:,1:-1]
x=scaled_x

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,0.94,0.928571,0.75,0.875,0.875,0.913462,1.0
1,0.68,0.535714,0.75,0.750,0.875,0.663462,1.0
2,0.52,0.428571,0.50,0.500,0.625,0.384615,1.0
3,0.64,0.642857,0.50,0.625,0.375,0.599359,1.0
4,0.48,0.392857,0.25,0.250,0.500,0.451923,0.0
...,...,...,...,...,...,...,...
495,0.84,0.571429,1.00,0.875,0.750,0.711538,1.0
496,0.94,0.892857,1.00,1.000,1.000,0.983974,1.0
497,0.80,1.000000,1.00,0.875,1.000,0.884615,1.0
498,0.44,0.392857,0.75,0.750,1.000,0.522436,0.0
499,0.74,0.750000,0.75,0.875,0.875,0.717949,0.0

## Feature Transformation
- Training and Metrics

In [193]:
polyf= PolynomialFeatures(degree=2, include_bias=True)
x_poly=polyf.fit_transform(x)
print(x_poly.shape)

(500, 36)

In [221]:
for deg in range(0,7):
    polyf= PolynomialFeatures(degree=deg, include_bias=True)
    x_poly=polyf.fit_transform(x)
    if deg>3 or deg==0:
        print('This is the:',deg,'th degree')
    if deg==3:
        print('This is the:',deg,'rd degree')
    if deg==2:
        print('This is the:',deg,'nd degree')
    if deg==1:
        print('This is the:',deg,'st degree')
    print('Feature Dimensions:',x_poly.shape)
    from sklearn.model_selection import train_test_split
    x_train,x_test,y_train,y_test=train_test_split(x_poly,y,test_size=0.2,random_state=42)
    from sklearn.linear_model import LinearRegression
    from sklearn.metrics import r2_score
    lr = LinearRegression()
    lr.fit(x_train,y_train)
    train_pred=lr.predict(x_train)
    print('The R-squared for train:',r2_score(y_train,train_pred))
    test_pred=lr.predict(x_test)
    print('The R-squared for test:',r2_score(y_test,test_pred))
    print('                                                   ')

This is the: 0 th degree
Feature Dimensions: (500, 1)
The R-squared for train: 0.0
The R-squared for test: -0.00724844132029312

This is the: 1 st degree
Feature Dimensions: (500, 8)
The R-squared for train: 0.8210671369321554
The R-squared for test: 0.8188432567829633

This is the: 2 nd degree
Feature Dimensions: (500, 36)
The R-squared for train: 0.8357962945524066
The R-squared for test: 0.8265115552644242

This is the: 3 rd degree
Feature Dimensions: (500, 120)
The R-squared for train: 0.872724228033796
The R-squared for test: 0.6440441886945635

This is the: 4 th degree
Feature Dimensions: (500, 330)
The R-squared for train: 0.8539351828917022
The R-squared for test: -11.780521216014895

This is the: 5 th degree
Feature Dimensions: (500, 792)
The R-squared for train: 0.9988223549399688
The R-squared for test: -241.42218901850043

This is the: 6 th degree
Feature Dimensions: (500, 1716)
The R-squared for train: 0.999526891659611
The R-squared for test: -164.415974747592